/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* COMMON STYLES  */

.page {
  min-inline-size: 375px;
  min-block-size: 100dvb;
  max-inline-size: 700px;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--main-font-paragraph-weight);
  background-color: var(--background-color);
  color: var(--accent-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--main-content-gap);
}

.button {
  border: none;
  outline: 2px solid var(--accent-color);
  position: relative;
  overflow: hidden;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 0.9;
  background-color: var(--background-color);
  color: var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.button:hover {
  cursor: pointer;
}

.button:focus-visible {
  box-shadow:
    2px 4px 0 var(--accent-color),
    4px 4px 0 var(--accent-color),
    4px 0 0 var(--accent-color);
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  transform: scaleX(0);
  transform-origin: 0 0;
  background: var(--accent-color);
  transition: transform 0.5s ease-in-out;
}

button:hover:before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 10;
  color: var(--btn-text-color);
  mix-blend-mode: difference;
}

.floppy__icon {
  color: var(--btn-text-color);
  mix-blend-mode: difference;
}

/* DIALOG */

.dialog {
  position: fixed;
  inset: 0;
  inline-size: clamp(341px, 24.81%, 357px);
  background-color: var(--background-color);
  padding: 30px;
  transition: opacity 0.3s ease-in-out;
  outline: 2px solid var(--accent-color);
  border: none;
  max-block-size: 191px;
}

.dialog:not([open]) {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  pointer-events: none;
  opacity: 0;
}

.dialog[open] {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  opacity: 1;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, .75);
}

.dialog__text {
  position: relative;
  z-index: 10;
  color: var(--btn-text-color);
  mix-blend-mode: difference;
  text-transform: uppercase;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  grid-row: 1 / 2;
}

.dialog__text-area {
  display: flex;
  gap: 20px;
}

.dialog__button {
  text-transform: uppercase;
  grid-row: 2 / 3;
  max-inline-size: 291px;
  max-block-size: 36px;
}

.dialog__button_icon {
  inline-size: 85px;
  block-size: 60px;
}

@media (width <= 375px) {
  .dialog {
    padding: 30px 42px;
  }
}

/* HEADER  */

.header {
  background-color: var(--background-color);
  font-family: var(--accent-font);
  display: grid;
  justify-content: center;
  align-items: center;
  padding-block-start: 132px;
  padding-block-end: 25px;
  margin-block-start: 100px;
  margin-block-end: 50px;
  border: 2px solid var(--accent-color);
  inline-size: 100%;
  /* min-block-size: 368px; */
  gap: 20px;
}

.header__title-block {
  display: grid;
  gap: 20px;
  justify-content: center;
}

.header__subject {
  text-transform: uppercase;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  justify-self: center;
}

.header__theme-menu {
  justify-self: center;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 14px;
  margin-inline-start: 45px;
  margin-block-start: 10px;
  max-block-size: 70px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  position: relative;
  text-transform: uppercase;
  transition: transform 0.3s ease;
  transition: opacity 0.3s ease;
}

.theme-menu__button::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  block-size: 2px;
  inline-size: 100%;
  background: currentColor;
  transform: scaleX(0);
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  transform-origin: 0 0;
  transition: transform 0.3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  pointer-events: none;
  transform: translateX(-27px);
}

.theme-menu__button:disabled::before {
  content: "▶";
  display: inline-block;
  animation: arrow-animation 0.5s infinite ease-in-out alternate;
}

@media (width <= 375px) {
  .header {
    padding-block-start: 120px;
  }
}

/* MAIN  */

.main__articles-list {
  display: flex;
  flex-direction: column;
  gap: var(--main-content-gap);
}

.main {
  inline-size: 100%;
  margin: 0 auto;
}

.card__article {
  outline: 2px solid var(--accent-color);
}

.card__header {
  background-color: var(--background-color);
  font-size: 18px;
  line-height: 1.21;
  font-variation-settings: 'wght' var(--main-font-headers-weight);
  padding: 3px 10px;
  min-block-size: 31px;
}

.card__image-section {
  position: relative;
  outline: 2px solid var(--accent-color);
  line-height: 0;
}

.card__image {
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card__watermark {
  position: absolute;
  top: 35px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 50%;
  text-shadow:
    -1px -1px 0 var(--watermark-shadow),
    1px -1px 0 var(--watermark-shadow),
    -1px 1px 0 var(--watermark-shadow),
    1px 1px 0 var(--watermark-shadow);
}
@supports (text-stroke: 1px var(--watermark-shadow)) or
  (-webkit-text-stroke: 1px var(--watermark-shadow)) {
  .card__watermark {
    -webkit-text-stroke: 1px var(--watermark-shadow);
    text-stroke: 1px var(--watermark-shadow);
    text-shadow: none;
  }
}

.card__watermark-lowercase {
  text-transform: lowercase;
}

.card__watermark-uppercase {
  text-transform: uppercase;
}

.card__text {
  font-variation-settings: 'wght' var(--main-font-paragraph-weight);
  padding: 25px;
  background-color: var(--background-color);
  display: grid;
  gap: 27px;
  font-size: 18px;
  line-height: 1.16;
}

.card__like-section {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  max-block-size: 31px;
  margin-block-end: 7px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: outline 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.card__like-button {
  min-inline-size: 130px;
}

/* FILTERS */

.card__image_filter-grayscale {
  filter: grayscale(0.7);
}

.card__image_filter-saturate {
  filter: saturate(500%);
}

.card__image_filter-hue-rotate {
  filter: hue-rotate(30deg);
}

.card__image_filter-invert {
  filter: invert(0.7);
}

.card__image_filter-sepia {
  filter: sepia(0.9);
}

.card__image_filter-blur {
  filter: blur(16px);
}

.card__image_filter-multiple {
  filter: blur(3px) hue-rotate(90deg) opacity(0.6) saturate(1.1);
}

.main__save_button {
  margin: 0 auto 105px auto;
  padding: 18.5px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.main__save_button-icon {
  inline-size: 21px;
  block-size: 21px;
}

@media (width <= 375px) {
  .main__save_button {
    flex-direction: column;
  }

  .main__save_button-icon {
    inline-size: 28px;
    block-size: 28px;
  }
}
