/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* COMMON STYLES  */

.page {
  min-inline-size: 375px;
  min-block-size: 100dvb;
  max-inline-size: 700px;
  font-family: var(--main-font);
  font-weight: var(--main-font-paragraph-weight);
  background-color: var(--background-color);
  color: var(--accent-color);
  background-image: var(--bg-image);
  background-size: cover;
  display: grid;
  justify-content: center;
  margin: 0 auto;
  gap: 52px;
}

/* .button:focus {
  outline: none;
} */

.button:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: transform 0.3s ease;
}

/* HEADER  */

.header {
  background-color: var(--background-color);
  margin: 102px auto 50px auto;
  font-family: var(--accent-font);
  display: grid;
  justify-content: center;
  align-items: center;
  padding-block-start: 136px;
  padding-block-end: 25px;
  border: 2px solid var(--accent-color);
  inline-size: 100%;
  min-block-size: 368px;
}

.header__title-block {
  display: grid;
  gap: 20px;
  justify-content: center;
}

.header__subject {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  justify-self: center;
}

.header__theme-menu {
  margin: 25px auto;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  position: relative;
  padding-block-end: 2px;
  text-transform: uppercase;
}

.theme-menu__button::after {
  position: absolute;
  content: "";
  left: 4px;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: currentColor;
  transform: scaleX(0);
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  transition: transform 0.3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  animation: arrow-animation 0.5s infinite ease-in-out alternate;
}

@media (width <= 375px) {
  .header {
    padding-block-start: 120px;
  }
}

/* BODY  */

.main {
  width: 100%;
  margin: 0 auto;
}

.card__article {
  border: 2px solid var(--accent-color);
}

.card__header {
  background-color: var(--background-color);
  font-size: 18px;
  line-height: 1.21;
  font-weight: var(--main-font-headers-weight);
  outline: 2px solid var(--accent-color);
  padding: 3px 10px;
}

.card__image-section {
  position: relative;
  outline: 2px solid var(--accent-color);
}

.card__image {
  inline-size: 100%;
  block-size: 100%;
  border: none;
  outline: none;
}

.card__watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 50%;
  text-shadow:
    -1px -1px 0 var(--watermark-shadow),
    1px -1px 0 var(--watermark-shadow),
    -1px 1px 0 var(--watermark-shadow),
    1px 1px 0 var(--watermark-shadow);
}
@supports (text-stroke: 1px var(--watermark-shadow)) or
  (-webkit-text-stroke: 1px var(--watermark-shadow)) {
  .card__watermark {
    -webkit-text-stroke: 1px var(--watermark-shadow);
    text-stroke: 1px var(--watermark-shadow);
    text-shadow: none;
  }
}

.card__text {
  font-weight: var(--main-font-paragraph-weight);
  padding: 25px;
  background-color: var(--background-color);
  display: grid;
  gap: 27px;
}

.card__like-section {
  display: flex;
  justify-content: flex-end;
  margin-block-start: -2px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__like-button {
  min-width: 130px;
  outline: 2px solid currentColor;
  /* padding: 9px, 17px, 9px, 17px; */
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 0.9;
  background-color: transparent;
  border: none;
}

/* .card__like-button:focus {
  outline: none;
} */

/* FOOTER  */

.footer {
  display: flex;
  justify-content: center;
}

.footer__button {
  outline: 2px solid var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 0.9;
  margin-block-end: 105px;
  padding: 18.5px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  background-color: var(--background-color);
}

.footer__button_icon {
  inline-size: 21px;
  block-size: 21px;
}

@media (width <= 375px) {
  .footer__button {
    flex-direction: column;
  }

  .footer__button_icon {
    inline-size: 28px;
    block-size: 28px;
  }
}

@keyframes arrow-animation {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(4px);
  }
}
