:root {
  --main-font: "Inter-Variable", "Inter", sans-serif;
  --accent-font:"PressStart2P-Regular", monospace;
  --main-font-paragraph-weight: 'wght' 400;
  --main-font-headers-weight: 'wght' 700;
  --background-color: rgba(255, 255, 255, 1);
  --accent-color: rgba(0, 0, 0, 1);
}
